body {
  background-color: #ffffff;
  font-family: 'kalatexatext', sans-serif;
  overflow-x: hidden;
  &.mobile-menu-expanded {
    overflow-y: hidden;
  }
  &.body-no-scroll {
    overflow-y: hidden;
  }
}

.nav-pad {
  height: $nav-height;
  @include media(md) {
    height: $nav-height-mobile;
  }
}

.font1 {
  font-family: $font-family1;
}
.font2 {
  font-family: $font-family2;
}
.font3 {
  font-family: $font-family3
}
.color2 {
  color: $color2
}
.color-danger {
  color: $color-danger
}
.color-font {
  color: $color-font
}
.bold {
  font-weight: bold;
}
.bg1 {
  background-color: #f9f9f9;
}

// social
.bg-facebook {
  background-color: #3b5998;
}
.bg-twitter {
  background-color: #55acee;
}
.bg-linkedin {
  background-color: #0077b6;
}
.bg-email {
  background-color: #97ca3f;
}
.color-facebook {
  color: #3b5998;
}
.color-twitter {
  color: #55acee;
}
.color-linkedin {
  color: #0077b6;
}
.color-email {
  color: #97ca3f;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.layout-inner {
  width: 100%;
  max-width: $content-width;
  padding: 0 10px;
  box-sizing: border-box;
  &.no-padding {
    padding: 0;
  }
  @include media(md) {
    overflow-x: hidden;
  }
}
.layout-narrow {
  width: 100%;
  max-width: 452px;
}

.ml-link {
  text-decoration: none;
  color: $color-font;
  &:hover {
    color: $color-danger;
  }
}

.underline {
  text-decoration: underline;
}

.pad-top-1 {
  padding-top: 40px;
  @include media(md) {
    padding-top: 20px;
  }
}

.pad-top-2 {
  padding-top: 15px;
  @include media(md) {
    padding-top: 20px;
  }
}

.centered {
  text-align: center;
}

// Header
// ----------------------------------------

.heading1 {
  font-weight: bold;
  font-size: 30px;
  margin: 37px 0 35px 0;
  width: 100%;
  @include media(md) {
    font-size: 22px;
  }
  &.primary {
    margin-top: 60px;
    @include media(md) {
      margin: 38px 0 12px 0;
    }
  }
}
.heading2 {
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 20px 0;
  width: 100%;
}
.heading3 {
  font-weight: normal;
  font-size: 18px;
  margin: 20px 0 20px 0;
  width: 100%;
  @include media(md) {
    font-size: 15px;
  }
  &.primary {
    @include media(md) {
      margin: 16px 0 0 0;
    }
  }
}

.plain-anchor {
  text-decoration: none;
  color: $color-font;
}

// make anchor normal
.ml-normalize {
  a {
    text-decoration: none;
    color: $color-font;
  }
}

// Chevron
// ----------------------------------------

$chevron-thickness: 0.095rem;
$chevron-size: 0.65rem;
$chevron-offset: 0.25rem;

// Br
// ----------------------------------------

.br-md-m {
  display: none;
  @include media(md) {
    display: inline-block;
  }
}

// responsive
// ----------------------------------------

.md-only {
  display: none;
  @include media(md-plus) {
    display: inline-block;
  }

}
.mdm-only {
  display: none;
  @include media(md) {
    display: inline-block;
  }
}
.sm-only {
  display: none;
  @include media(sm-plus) {
    display: inline-block;
  }

}
.smm-only {
  display: none;
  @include media(sm) {
    display: inline-block;
  }
}
