// Banners & top items
// ----------------------------------------
.sec-banner {
  background: #ffffff url(#{$asset-path}/imgs/banner-1.jpg) no-repeat center center;
  height: 520px;
  width: 100%;
  @include media(lg) {
    background-position: right -260px center;
  }
  @include media(md) {
    height: 310px;
    background-image: url(#{$asset-path}/imgs/banner-1-mobile.jpg);
    background-position: center center;
    background-size: cover;
  }
}

.sec-banner-2 {
  background: #ffffff url(#{$asset-path}/imgs/banner-profile.jpg) no-repeat center center;
  height: 520px;
  width: 100%;
  margin: 0 0 40px 0;
  @include media(md) {
    height: 310px;
    background-position: center center;
    background-size: cover;
    margin: 0 0 11px 0;
  }
}

.breadcrumb {
  margin: 25px 0 10px 0;
  list-style: none;
  font-size: 14px;
  padding: 0;
  width: 100%;
  @include media(md) {
    display: none;
  }
  a {
    text-decoration: none;
    color: $color-font-lighter;
    &:hover, &.active {
      color: $color-font;
    }
    &.active {
      font-weight: bold;
    }
  }
  li {
    display: inline-block;
    &::after {
      content: '>';
      color: $color-font-lighter;
      padding: 0 1px 0 5px;
    }
    &:last-child::after {
      display: none;
    }
  }
}

// Buttons
// ----------------------------------------
.btn-underline {
  color: $color-font;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  line-height: 28px;
  display: inline-block;
  margin: 15px 0 0 20px;
  float: left;
  clear: both;

  @include media(md) {
    font-size: 15px;
    line-height: 20px;
    margin: 15px 0 0 0;
  }
  i {
    color: $color-font-lighter;
    margin-right: 20px;
    @include media(md) {
      margin-right: 10px;
    }
  }
  &:hover {
    color: $color1;
    border-color: $color1;
    i {
      color: $color1;
    }
  }
}

.btn-outline-d {
  text-decoration: none;
  color: $color-font;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //display: inline-block;
  height: 54px;
  border: 1px solid $color3;
  position: relative;
  transition: color 0.25s ease;
  z-index: 1;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  @include media(md) {
    font-size: 15px;
    height: 32px;
  }
  &.primary {
    border-color: $color1;
  }
  &.secondary {
    border-color: $color3;
  }
  &.inverse {
    color: #ffffff;
    border-color: #ffffff;
  }
  &.small {
    height: 44px;
    @include media(md) {
      height: 40px;
    }
  }
  &:hover {
    border-color: $color1;
    color: white;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $color1;
    transform-origin: left;
    transition: width 0.25s ease;
    z-index: -1;
  }
  &:hover::after {
    width: 100%;
  }
}

// main btn
.btn {
  background-color: #ebebeb;
  text-align: center;
  width: 100%;
  border: 0;
  cursor: pointer;
  height: 52px;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  color: $color-font;
  text-decoration: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px; // adjustment (without effecting height)
  &:hover:not(:disabled):not(.hover-fade):not(.btn-outline) {
    background-color: #dddddd;
  }
  &:disabled {
    color: #cccccc;
  }
  // margin, padding
  &.no-margin {
    margin: 0 0 0 0;
  }

  &.small {
    font-size: 18px;
    height: 44px;
    @include media(md) {
      height: 40px;
    }
  }

  // for consistency (alternative to .btn-outline-d)
  &.btn-outline {
    position: relative;
    border: 1px solid $color3;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border-color: $color1;
      color: white;
    }
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $color1;
      transform-origin: left;
      transition: width 0.25s ease;
      z-index: -1;
    }
    &:hover::after {
      width: 100%;
    }
  }

  // Types
  &.btn-submit {
    margin: 40px 0 0 0;
  }
  &.primary {
    color: white;
    background-color: $color1;
    &:hover {
      background-color: $color1 !important;
      opacity: .8;
    }
  }

  // Type Socials
  &.btn-facebook, &.btn-linkedin {
    color: #ffffff;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    .fab {
      font-size: 30px;
      padding-right: 30px;
    }
    &:hover {
      opacity: .8;
    }
    @include media(md) {
      margin: 0 0 5px 0;
      line-height: 40px;
      font-size: 12px;
      .fab {
        font-size: 20px;
        padding-right: 25px;
      }
    }
  }
  &.btn-facebook {
    background-color: #4469af;
  }
  &.btn-linkedin {
    background-color: #0173b1;
    .fab {
      font-size: 34px;
      padding-right: 25px;
      @include media(md) {
        font-size: 24px;
        padding-right: 22px;
      }
    }
  }

  @include media(md) {
    width: 100%;
    margin: 0 0 0 0;
    height: 40px;
    font-size: 15px;
  }
}

// DatePicker (Override)
// ----------------------------------------
.datepicker-container {
  font-family: $font-family-system;
}

// Back to top
// ----------------------------------------
.back-to-top {
  background: $color1 url(#{$asset-path}/imgs/back-to-top.png) no-repeat center center;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 2%;
  bottom: 2%;
  background-size: cover;
  cursor: pointer;
  z-index: 9;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    z-index: 1;
  }
  &:hover {
    &::before {
      opacity: .3;
    }
  }
  &.hidden {
    opacity: 0;
  }
  @include media(md) {
    background-image: url(#{$asset-path}/imgs/back-to-top-mobile.png);
    width: 40px;
    height: 40px;
    bottom: 10px;
  }
}

// social-share
// ----------------------------------------
.social-share-mobile {
  background: #ebebeb;
  position: fixed;
  right: 2%;
  bottom: 60px;
  background-size: auto 100%;
  cursor: pointer;
  z-index: 9;
  height: 40px;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  overflow: hidden;
  width: 40px;
  transition: all .5s;
  @include media(md-plus) {
    display: none;
  }
  &.show {
    width: 252px;
  }
  .ssm-slide {
    height: 40px;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    width: 242px;
    float: right;
    .share-txt {
      float: left;
      padding: 0 15px;
      line-height: 30px;
      font-weight: 600;
    }
    .ssm-item {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: #ffffff;
      text-decoration: none;
      float: left;
      margin: 0 5px;
      &:hover {
        opacity: .7;
      }
    }
    .smm-share-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      font-size: 17px;
      float: left;
      margin: 0 0 0 5px;
    }
  }
  .fb {
    background-color: #3a5898;
  }
  .tw {
    background-color: #55acee;
  }
  .li {
    background-color: #0077b5;
  }
  .link {
    font-size: 10px;
    background-color: #98c84a;
    transform: scaleX(-1);
  }
  &:hover {
  }
}

.social-share {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 9;
  .desktop {
    //position: absolute;
    //top: 75%;
    background-color: #ffffff;
    .ss-item {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      color: #ffffff;
      text-decoration: none;
      &:hover {
        opacity: .7;
      }
    }
    .fb {
      background-color: #3a5898;
    }
    .tw {
      background-color: #55acee;
    }
    .li {
      background-color: #0077b5;
    }
    .gp {
      font-size: 18px;
      background-color: #dd4e42;
    }
  }
  @include media(md) {
    display: none;
  }
}


.chevron {
  //&:hover::before {
  //  top: 0;
  //  transform: rotate(135deg);
  //}
  &::before {
    border-style: solid;
    border-color: $color-font;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    width: $chevron-size;
    top: $chevron-offset;
    left: $chevron-offset;
    //left: 0.15em;
    //top: 0.15em;
    position: relative;
    transform: rotate(135deg);
    //transform: rotate(-45deg);
    //vertical-align: top;
    transition: all .3s;
  }
  &.right:before {
    left: 0;
    transform: rotate(45deg);
  }

  &.bottom:before {
    top: 0;
    transform: rotate(135deg);
  }

  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }

  // size
  &.small::before {
    height: 8px;
    width: 8px;
    //border-width: 1px 1px 0 0;
    @include media(md) {
      border-width: 1px 1px 0 0;
      height: 6px;
      width: 6px;
    }
  }

  // Thickness
  &.slim::before {
    height: 12px;
    width: 12px;
    border-width: 1px 1px 0 0;
    @include media(md) {
      height: 7px;
      width: 7px;
    }
  }
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  @include media(md) {
    width: 40px;
    height: 40px;
  }
  &.small {
    width: 40px;
    height: 40px;
    @include media(md) {
      width: 28px;
      height: 28px;
    }
  }
}
