.footer {
  background-color: #ebebeb;
  width: 100%;
  display: flex;
  justify-content: center;
  .footer-inner {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-item {
    color: #050505;
    text-decoration: none;
    padding: 0 28px;
    font-size: 18px;
    &:hover, .active {
      color: $color2 !important;
    }
  }
  .__row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-wrap {
    margin: 54px 0 34px 0;
    @include media(md) {
      display: none;
    }
  }
  .social-wrap {
    margin: 8px 0;
    align-items: baseline;
    .social-item {
      color: #999999;
      font-size: 30px;
      margin: 0 15px;
      &:hover {
        opacity: .7;
      }
    }
    @include media(md) {
      margin: 35px 0 15px 0;
      .social-item {
        font-size: 21px;
        margin: 0 12px;
      }
    }
    .icon-line {
      background: transparent url(#{$asset-path}/imgs/icon-line.png) no-repeat center 0;
      background-size: 100% auto;
      width: 30px;
      height: 30px;
      margin-bottom: -3px;
      @include media(md) {
        width: 22px;
        height: 22px;
      }
    }
  }
  .copyright-wrap {
    color: #999999;
    font-size: 14px;
    margin: 16px 0;
    @include media(md) {
      text-align: center;
      font-size: 11px;
      line-height: 14px;
    }
  }
  .footer-bottom {
    margin: 6px 0 26px 0;
    .nav-item {
      color: #999999;
      font-size: 14px;
      border-right: 1px solid #999999;
      padding: 0 16px;
      line-height: 14px;
      &:last-child {
        border: none;
      }
      @include media(md) {
        font-size: 9px;
      }
    }
    @include media(md) {
      margin: 6px 0 16px 0;
    }
  }
}

.xsm-br {
  display: none;
}
@include media(xs) {
  .xsm-br {
    display: inline-block;
  }
}

.sec-subscribe {
  background: #ffffff url(#{$asset-path}/imgs/bg-subscribe.png) no-repeat center bottom;
  height: 438px;
  display: flex;
  justify-content: center;
  .__content {
    text-align: center;
  }
  @include media(md) {
    background-size: 100% auto;
    height: 235px;
  }
  @include media(xs) {
    background-size: 100% auto;
    height: 215px;
  }
  h1 {
    font-family: $font-family3;
    font-weight: 500;
    font-size: 60px;
    margin: 80px 0 0 0;
    @include media(md) {
      margin: 62px 0 0 0;
      font-size: 30px;
    }
  }
  h3 {
    margin: 2px 0 38px 0;
    font-family: $font-family3;
    font-weight: normal;
    font-size: 22px;
    color: #999999;
    @include media(md) {
      margin: 2px 0 22px 0;
      font-size: 11px;
    }
  }
  .btn-subscribe {
    cursor: pointer;
    margin: 0;
    padding: 0 55px;
    line-height: 54px;
    font-size: 16px;
    font-family: $font-family3;
    border-radius: 4px;
    color: #ffffff;
    background-color: #333333;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    &:hover {
      background-color: #999999;
    }
    @include media(md) {
      font-size: 10px;
      line-height: 30px;
      padding: 0 25px;
      border-radius: 3px;
    }
  }
}
