.ml-form {
  //background: #ffffff url(#{$asset-path}/imgs/refs/form.png) no-repeat center -353px;
  //background: #ffffff url(#{$asset-path}/imgs/refs/form.png) no-repeat center -522px;

  //display: flex;
  @include media(md) {
    justify-content: center;
  }

  .form-caption {
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0;
    @include media(md) {
      font-size: 11px;
      line-height: 14px;
      margin: 0 0 16px 0;
    }
  }

  form {
    width: 100%;
    max-width: 450px; // plus padding
  }

  .form-item-wrap {
    padding: 5px;
    background-color: #98c84a;
  }
  .form-item {
    margin: 0 0 30px 0;
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    @include media(md) {
      max-width: 500px;
      width: 100%;
      font-size: 14px;
      margin: 0 0 20px 0;
    }
    label {
      color: $color-font;
      position: absolute;
      cursor: text;
      &.label {
        font-size: 16px;
        font-weight: 400;
        transition: all .2s;
        top: 20px;
        left: 18px;
        z-index: -1;
        @include media(md) {
          font-size: 14px;
          top: 14px;
          left: 9px;
        }
      }
      &.error, &.caption {
        position: absolute;
        top: unset;
        left: 0;
        bottom: -21px;
        font-size: 16px;
        color: $color-font-lighter;
        @include media(md) {
          bottom: -14px;
          font-size: 10px;
        }
      }
      &.error {
        color: $color-danger;
        & ~ .caption {
          display: none;
        }
      }
    }

    // The input
    // ----------------------------------------

    .ml-input {
      border-radius: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 20px 17px 4px 17px;
      line-height: 20px;
      height: 54px;
      font-size: 18px;
      border: 1px solid $color-input-border;
      background-color: transparent !important;
      -webkit-appearance: none; // ios-fix
      //background: #ffffff url(#{$asset-path}/imgs/refs/input-mobile.jpg) no-repeat 0 0;

      // fix auto-fill
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        background-color: transparent;
        animation: autofill 0s forwards;
      }
      @include media(md) {
        height: 41px;
        padding: 20px 8px 4px 8px;
        font-size: 14px;
      }
      &:focus {
        border-color: $color-font;
        outline: none;
      }
      &.hidden {
        display: none;
      }
      &.error {
        border-color: $color-danger;
      }

      // Disabled
      &:disabled {
        border-color: #f3f3f3;
        color: #cccccc;
        & ~ .label {
          color: #cccccc;
          .color-danger {
            color: #cccccc;
          }
        }
        & + .icon-wrap {
          opacity: .2;
        }
      }

      // File
      &[type="file"] {
        opacity: 0;
        & ~ .file-label {
          display: inline-block;
          background-color: #ffffff;
          width: 100%;
          padding: 20px 17px 4px 17px;
          height: 54px;
          border: 1px solid $color-input-border;
          box-sizing: border-box;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          .fa-upload {
            position: absolute;
            top: 16px;
            right: 18px;
            color: $color-font;
          }
          .fa-cloud-upload-alt {
            padding: 0 10px 0 0;
            color: $color-font-lighter;
          }
          @include media(md) {
            padding: 12px 9px 4px 9px;
            height: 41px;
          }
        }
      }
    }
    textarea.ml-input {
      height: unset;
    }
    @keyframes autofill {
      100% {
        background: transparent;
        color: inherit;
      }
    }
    select.ml-input {
      //height: 20px;
      appearance: none;
      user-select: none;
      cursor: pointer;
      .hidden {
        // note: to be able to un-select
        //display: none
      }
    }

    // Size
    // Small: no label
    &.small {
      .ml-input {
        height: 44px;
        line-height: 28px;
        padding: 2px 22px 0 22px;
      }
      .icon-wrap {
        top: 9px;
      }
      &.focus, &.has-value {
        .label {
          display: none;
        }
      }
      &.focus {
        .icon-wrap {
          top: 13px;
        }
      }
      @include media(md) {
        .ml-input {
          padding: 0 11px 0 11px;
          height: 40px;
        }
      }
    }

    // ie-fix
    select.ml-input::-ms-expand {
      display: none;
    }

    .icon-wrap {
      position: absolute;
      top: 13px;
      right: 25px;
      z-index: -1;
      @include media(md) {
        transform: scale(.6);
        top: 9px;
        right: 16px;
      }
      &.fa-wrap {
        top: 18px;
        right: 20px;
        color: #8b8b8b;
        @include media(md) {
          font-size: 22px;
          top: 8px;
          right: 10px;
        }
      }
    }
    &.focus {
      .chevron:before {
        transform: rotate(-45deg);
      }
    }
    &.focus, &.has-value {
      label.label {
        transform: translateY(-70%);
        font-size: 16px;
        color: $color-font-lighter;
        @include media(md) {
          transform: translateY(-55%);
          font-size: 12px;
        }
      }
      // todo - del (still don't know why using this)
      //label:not(.error):not(.file-label) {
      //  transform: translateY(-70%);
      //  font-size: 16px;
      //  color: $color-font-lighter;
      //  @include media(md) {
      //    transform: translateY(-55%);
      //    font-size: 12px;
      //  }
      //}
    }
  }

  // Checkbox
  // ----------------------------------------
  .form-item.form-item-checkbox, .form-item.form-item-radio {
    background-color: transparent;
    user-select: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;

    @include media(md) {
      padding-left: 25px;
    }

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #ffffff;
      border: 1px solid $color-input-border;
      @include media(md) {
        width: 14px;
        height: 14px;
      }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: #eeeeee;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: #ffffff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

  }
  .form-item.form-item-checkbox {

    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 7px;
      top: 2px;
      width: 4px;
      height: 10px;
      border: solid $color-font;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      @include media(md) {
        left: 5px;
        top: 1px;
        width: 3px;
        height: 7px;
      }
    }

  }

  // override checkbox
  .form-item.form-item-radio {

    .checkmark {
      height: 16px;
      width: 16px;
      background-color: #ffffff;
      border-radius: 50%;
      @include media(md) {
        width: 14px;
        height: 14px;
      }
    }
    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 4px;
      top: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-font;

      @include media(md) {
        left: 4px;
        top: 4px;
        width: 6px;
        height: 6px;
      }
    }
  }
}

// Not actually form
// ----------------------------------------
.avatar-dropzone {
  height: 220px;
  width: 100%;
  background: #ebebeb url(#{$asset-path}/imgs/file-input-bg.png) no-repeat center center;
  background-size: 20% auto;
  cursor: pointer;
  margin: 0 0 30px 0;
  @include media(md) {
    background-image: url(#{$asset-path}/imgs/file-input-bg-mobile.png);
    margin: 0 0 20px 0;
  }
}
.avatar-dropzone-edit {
  background: transparent url(#{$asset-path}/imgs/avatar-placeholder.jpg) no-repeat center center;
  background-size: cover;
  //display: flex;
  //justify-content: center;
  width: 160px;
  height: 218px;
  margin: 0 0 30px 0;
  position: relative;
  .edit-btn {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 18px;
    z-index: 2;
    @include media(md) {
      font-size: 15px;
    }
  }
  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  }
  @include media(md) {
    margin: 0 0 20px 0;
    width: 108px;
    height: 108px;
  }
}

.px2 {
  padding-left: 10px;
  padding-right: 10px;
}

.sm-col {
  float: left;
  display: block;
  box-sizing: border-box;
}
