.main-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 140px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s;
  z-index: 11;
  @include media(md) {
    display: none;
  }
  .main-menu-inner {
    width: 100%;
    max-width: $content-width;
    padding: 0 $content-padding;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
  }
  .__logo {
    img {
      height: 100px;
      width: auto;
      transition: all .2s;
    }
  }
  .__content {
    margin-left: auto;
    float: right;
  }
  .top-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
    float: right;
    .menu-wrap {
      padding-top: 8px;
      display: flex;
      align-items: center;
      justify-content: end;
    }
    .menu-item {
      padding: 12px 18px;
      color: #666666;
      font-size: 18px;
      font-weight: 500;
      font-style: italic;
      //letter-spacing: .5px;
      text-decoration: none;
      display: inline-block;
      &:hover, .active {
        color: $color-danger;
      }
    }
  }
  .menu-item-divider {
    background-color: #cccccc;
    width: 1px;
    height: 15px;
  }
  .profile-menu-wrap {
    display: none;
  }
  .auth-menu-wrap {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    padding-top: 8px;
    .auth-menu-item {
      font-size: 18px;
      padding: 16px 20px;
      color: #333333;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      &:hover, &.active {
        text-decoration: underline;
        color: $color-danger;
      }
    }
  }

  .bottom-wrap {
    color: #050505;
    display: flex;
    float: right;
    clear: both;
    margin-top: 8px;
    .menu-item, .menu-lang {
      color: #050505;
      font-size: 20px;
      padding: 24px 35px;
      text-decoration: none;
      display: inline-block;
      &.active, &:hover {
        color: $color-danger;
      }
      &.active {
        font-weight: bold;
      }
    }
    .menu-lang {
      padding-right: 35px;
      position: relative;
      cursor: pointer;
      .chevron {
        position: absolute;
        top: 20px;
        right: 10px;
      }
    }
  }

  // Logged In
  // ----------------------------------------
  .logged-in {
    position: relative;
    cursor: pointer;
    ._stay {
      display: flex;
      align-items: center;
      width: 210px;
      height: 60px;
      background-color: #f4f4f4;
      box-sizing: border-box;
      padding: 0 26px 0 16px;
      .avatar {
        margin-right: auto;
      }
      .__name {
        font-size: 20px;
        font-weight: 600;
        padding-top: 5px; // adjustment
      }
      .__chevron {
        margin: -4px 0 0 auto;
      }
    }
    ._drop {
      position: absolute;
      right: 0;
      width: 100%;
      display: none;
      z-index: 9;
      .arrow_box {
        position: relative;
        background: #ffffff;
        border: 1px solid #cccccc;
        &:after, &:before {
          bottom: 100%;
          right: 17px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 9px;
        }
        &:before {
          border-color: rgba(204, 204, 204, 0);
          border-bottom-color: #cccccc;
          border-width: 11px;
          right: 15px;
        }
      }
      a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: $color-font-medium;
        box-sizing: border-box;
        &:hover, &.active {
          background-color: #ebebeb;
        }
      }
    }
    &:hover {
      ._drop {
        display: block;
      }
    }
  }

  // minimize (on scroll)
  // ----------------------------------------
  body.scrolled & {
    max-height: $nav-height-min;
    overflow: hidden;
    position: fixed;
    .top-wrap {
      display: none;
    }
    .bottom-wrap {
      margin-top: 0;
    }
    .__logo {
      img {
        height: 40px;
        width: auto;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  @include media(md-plus) {
    display: none;
  }

  .logged-in-m {
    position: absolute;
    right: 10px;
  }

  .mm-profile {
    position: fixed;
    top: 60px;
    left: 11px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    width: calc(100% - 22px);
    max-height: 39px;
    overflow: hidden;
    cursor: pointer;
    display: none;
    &.show {
      display: block;
    }
    &.expanded {
      max-height: unset;
      ._chevron {
        .chevron:before {
          top: 1px;
          transform: rotate(-45deg);
        }
      }
    }
    .mm-label {
    }
    ._chevron {
      position: absolute;
      right: 20px;
      top: 10px;
    }
    ._nav {
      box-sizing: border-box;
      padding: 12px 10px;
      width: 100%;
      max-height: 39px;
      min-height: 39px;
      &:hover {
        background-color: #ebebeb;
      }
    }
  }

  .mm-logo {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    img {
      width: auto;
      height: 42px;
    }
  }

  .hamburger {
    position: absolute;
    left: 0px;
    margin: 0 auto 0 11px;
    display: inline-block;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
      width: 20px;
      height: 2px;
      background-color: #333;
      margin: 4px 0;
      transition: 0.4s;
    }
    &.change .bar1 {
      transform: rotate(-45deg) translate(-4px, 4px);
    }
    &.change .bar2 {
      opacity: 0;
    }
    &.change .bar3 {
      transform: rotate(45deg) translate(-4px, -5px);
    }
  }

  // Stay
  // ----------------------------------------
  .mm-floated-wrap {
    position: fixed;
    height: $nav-height-mobile;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #ffffff;
    z-index: 2;
  }

  // Drop (hidden)
  // ----------------------------------------
  .mm-content-wrap {
    z-index: 1;
    background-color: #ffffff;
    //background: #ffffff url(#{$asset-path}/imgs/refs/mobile-menu.jpg) no-repeat center bottom;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
    padding: $nav-height-mobile 0 0 0;
    box-sizing: border-box;
    // toggle display
    .mobile-menu-expanded & {
      display: inline-block;
    }
  }
  .mobile-menu-inner {
    position: relative;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: $color-font;
    display: inline-block;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      width: 100%;
    }
  }

  // Accordion
  .mm-accordion {
    margin: 0 0 28px 0;
    li {
      padding: 0 36px;
      box-sizing: border-box;
      background-color: white;
      &.active {
        a {
          color: $color-danger;
        }
      }
      a:hover {
        color: $color-danger;
      }
      .__label-wrap {
        padding: 0 36px;
      }
      // Remove Gray Highlight When Tapping Links in Mobile Safari
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      &.expandable {
        padding: 0;
        & > .mm-menu-item {
          padding-left: 36px;
          padding-right: 36px;
          box-sizing: border-box;
        }
        .chevron {
          float: right;
          margin-top: -5px;
          margin-right: 7px;
        }
        // css approach (currently using js)
        &.expanded {
          .__label-wrap {
            color: white;
            background-color: $color-danger;
            &>.mm-menu-item {
              border: none;
            }
          }
          .chevron:before {
            top: 7px;
            transform: rotate(-45deg);
            border-color: white;
          }
          .nested-wrap {
            //height: auto;
            //max-height: 0;
          }
        }
      }
    }
    .mm-menu-item {
      border-bottom: 1px solid #d9d8d7;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      padding: 12px 0;
    }

    // --- Nested one
    .nested-wrap {
      //height: 0;
      display: flex;
      padding: 0 36px;
      width: 100%;
      box-sizing: border-box;
      transition: height .3s;
      overflow: hidden;
    }
    .mm-accordion-nested {
      padding: 10px 0 10px 12px;
      box-sizing: border-box;
      border-bottom: 1px solid #d9d8d7;
      li {
        padding: 0;
      }
      .mm-menu-item {
        border: none;
        padding: 10px 0;
        line-height: 22px;
      }
    }
  }

  .yr-menu-item {
    width: 100%;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding: 13px 0;
    .yr-underline {
      font-family: $font-family3;
      font-size: 15px;
      padding: 0;
      color: $color-danger;
      border-bottom: 2px solid $color-danger;
    }
    &:hover {
      .yr-underline {
        color: $color-font;
        border-color: $color-font;
      }
    }
  }

  // Stay Updated
  .stay-updated {
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
    h1 {
      font-family: $font-family3;
      font-weight: 500;
      margin: 30px 0 0 0;
      font-size: 30px;
    }
    h3 {
      font-family: $font-family3;
      font-weight: normal;
      margin: 1px 0 18px 0;
      font-size: 11px;
      letter-spacing: .5px;
      color: #999999;
    }
    .mm-btn-subscribe {
      margin: 0;
      font-family: $font-family3;
      color: #ffffff;
      background-color: #333333;
      display: inline-block;
      text-decoration: none;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 10px;
      line-height: 40px;
      padding: 0 30px;
      border-radius: 2px;
      &:hover {
        background-color: #999999;
      }
    }
  }

  // Bottom

  .mm-bottom {
    position: relative;
    width: 100%;
    display: inline-block;
  }

  .mm-lang {
    text-align: left;
    width: 100%;
    margin: 0 0 2px 0;
    display: inline-block;
    overflow: visible;
    .lang-menu-item {
      font-family: $font-family-system;
      color: $color-font-lighter;
      font-size: 11px;
      font-weight: bold;
      border-right: 1px solid $color-font-lighter;
      padding: 0 11px;
      &:last-child {
        border: none;
      }
      &.active, &:hover {
        color: $color-danger;
      }
    }
  }
  .mm-chat {
    position: fixed;
    bottom: -1px;
    right: 1px;
    display: flex;
    font-size: 11px;
    font-family: $font-family3;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    .chat-img {
      background: $color-danger url(#{$asset-path}/imgs/ico-chat.png) no-repeat center center;
      background-size: 65% auto;
      width: 44px;
      height: 32px;
    }
    span {
      letter-spacing: .5px;
      padding: 10px 12px;
    }
  }
}

// Mega menu (activity)
// ----------------------------------------

.nav-act-hover {
  cursor: pointer;
  .nav-hover-text {

  }
  // Note: click instead
  //&:hover {
  //  .nav-activity {
  //    opacity: 1;
  //    z-index: 10;
  //  }
  //}
}

.nav-activity {
  z-index: 10;
  display: flex;
  position: absolute;
  max-height: 0;
  //height: 0;
  opacity: 0;
  width: 100vw;
  left: 0;
  top: $nav-height;
  background-color: #ffffff;
  justify-content: center;
  overflow-y: hidden;
  //padding: 40px 0 80px 0;
  transition: opacity .2s;
  .scrolled & {
    top: $nav-height-min;
    position: fixed;
  }
  &.show {
    max-height: unset;
    //z-index: 1;
    //height: 100px;
    opacity: 1;
  }
  .__wrap {
    display: flex;
    padding: 40px 0 80px 0;
  }
  .__title {
    width: 420px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $color-font;
    text-decoration: none;
    &:hover {
      color: $color-danger;
    }
  }
  .__nav-wrap {
    margin: 10px 0 0 0;
    .__nav {
      margin-bottom: 30px;
      width: 100%;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover, &.active {
        color: $color2
      }

    }
  }

  @include media(md) {
    display: none;
  }
}
