/* The Modal (background) */
.ml-popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201;
  }

  /* Modal Content/Box */
  .mp-inner {
    background-color: #fefefe;
    margin: 115px auto;
    padding: 60px 70px;
    //border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 760px; // popup width here!
    box-sizing: border-box;
    position: relative;
    z-index: 209;
    @include media(xs) {
      margin: 81px 0 51px 0;
      padding: 28px 11px;
      //width: calc(100% - 10px);
      width: 100%;
    }
    &.small {
      max-width: 565px;
      padding: 100px 70px;
      @include media(md) {
        padding: 60px 40px;
      }
    }
  }
  .sp-close {
    position: absolute;
    font-size: 62px;
    color: $color-font;
    top: -15px;
    right: 3px;
    cursor: pointer;
    font-weight: 300;
    @include media(xs) {
      top: -13px;
      right: 3px;
      font-size: 55px;
    }
  }

  // Content
  // ----------------------------------------

  .mp-content {
    width: 100%;
    box-sizing: border-box;
    .heading1 {
      font-size: 64px;
      margin: 0 0 0 0;
      @include media(md) {
        font-size: 30px;
        margin: 0 0 0 0;
      }
    }
    .heading2 {
      font-size: 22px;
      margin: 18px 0 0 0;
      font-weight: 600;
      color: $color-font;
      @include media(md) {
        font-size: 13px;
        margin: 10px 0 0 0;
      }
    }
    .heading3 {
      font-size: 22px;
      margin: 0 0 0 0;
      font-weight: 600;
      color: $color-font-lighter;
      @include media(md) {
        font-size: 13px;
        margin: 0 0 0 0;
      }
    }

  }
}

// Unique part
// ----------------------------------------

.mp-content {
  .mp-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mp-input {
    height: 54px;
    border: 1px solid $color-font;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
    color: $color-font-medium;
    outline: none;
    font-family: $font-family2;
    font-size: 16px;
    @include media(md) {
      padding: 10px 14px 10px 14px;
      height: 40px;
      font-size: 11px;
      border-radius: 0;
    }
  }

  // Subscribe
  // ----------------------------------------
  .socials-subsc {
    a {
      text-decoration: none;
      font-size: 50px;
      margin: 0 15px;
      &:hover {
        opacity: .8;
      }
      @include media(md) {
        margin: 0 10px;
        font-size: 40px;
        line-height: 40px;
      }
    }
  }
  .or {
    font-size: 22px;
    margin: 30px 0 30px 0;
    font-weight: 600;
    color: $color-font;
    @include media(md) {
      font-size: 13px;
      margin: 15px 0 12px 0;
    }
  }
  .form-subsc {
    margin: 30px 0 0 0;
    @include media(md) {
      margin: 15px 0 0 0;
    }
    .btn {
      font-family: $font-family3;
      font-weight: normal;
      height: 54px;
      border-radius: 4px;
      max-width: 150px;
      font-size: 16px;
      @include media(md) {
        margin: 0;
        height: 40px;
        border-radius: 0;
        font-size: 12px;
        max-width: 120px;
      }
    }
    .input-subsc {
      width: 70%;
      margin: 0 15px 0 0;
      @include media(md) {
        margin: 0 10px 0 0;
      }
      &::placeholder {
        color: $color-font-lighter;
      }
    }
  }
  .form-subsc2 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    margin: 40px 0 0 -20px;
    .ml-col {
      padding: 5px 20px;
      @include media(md) {
        font-size: 12px;
        padding: 5px 20px;
      }
      .form-item-checkbox {
        text-align: left;
        min-height: 40px;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        padding-left: 40px;
        @include media(md) {
          font-size: 12px;
          min-height: unset;
          padding-left: 30px;
          padding-left: 30px;
        }
        .checkmark {
          background-color: #ebebeb;
          border-color: #ebebeb;
          border-radius: 4px;
          &:hover {
            background-color: #dddddd;
          }
        }
        input:checked ~ .checkmark:after {
          border-color: white;
        }
        input:checked ~ .checkmark {
          background-color: $color1;
          border-color: $color1;
        }
      }
    }

    .btn-wrap {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 30px 0 0 0;
      font-family: $font-family3;
      .btn {
        width: 100%;
        max-width: 150px;
        border-radius: 4px;
        margin:0;
        font-weight: normal;
        font-size: 16px;
        @include media(md) {
          font-size: 12px;
        }
      }
    }
  }

  // Subscribe - Thank you
  // ----------------------------------------
  // switcher

  &.step2 {
    .subc-step2 {
      display: block;
    }
    .subc-step1 {
      display: none;
    }
  }

  .subc-step2 {
    display: none;
    overflow-x: hidden;
  }
  // Share
  // ----------------------------------------
  .socials {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    @include media(md) {
      margin: 18px 0 0 0;
    }
    a {
      text-decoration: none;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      margin: 0 7px;
      &:hover {
        opacity: .8;
      }
      @include media(md) {
        width: 40px;
        height: 40px;
      }
    }
  }
  .form-share {
    position: relative;
    // custom
    .input-share {
      width: 100%;
      max-width: 565px;
      margin: 30px 0 0 0;
      @include media(md) {
        margin: 25px 0 0 0;
      }
    }
    .btn-copy {
      font-size: 18px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 16px 60px;
      cursor: pointer;
      letter-spacing: 1px;
      font-weight: bold;
      &:hover {
        color: $color1;
      }
      @include media(md) {
        font-size: 12px;
        padding: 12px 16px;
      }
    }
  }
}

