// Responsive
// Note: must be in order
// ----------------------------------------
.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333%;
}
.col-3 {
  width: 25%;
}
@include media(xs-plus) {
  .xs-col-6 {
    width: 50%;
  }
}
@include media(sm-plus) {
  .sm-col-6 {
    width: 50%;
  }
}
@include media(md-plus) {
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: 33.33%;
  }
  .md-col-3 {
    width: 25%;
  }
}
.ml-col {
  box-sizing: border-box;
}
