// Table
// ----------------------------------------
.job-filter-table {
  margin: 100px 0 40px 0;
  @include media(md) {
    margin: 20px 0 20px 0;
  }
}
.job-filter {
  display: flex;
  @include media(md) {
    flex-wrap: wrap;
  }
  .jf-col {
    padding-right: 16px;
    &:last-child {
      padding-right: 0;
    }
    @include media(md) {
      width: 100% !important;
      .form-item {
        max-width: none;
        margin-bottom: 10px;
      }
      padding: 0;
    }
  }
  .jf-col1 {
    width: 30%;
  }
  .jf-col2 {
    width: 20%;
  }
  .jf-col3 {
    width: 20%;
  }
  .jf-col4 {
    width: 30%;
  }
  .jf-col5 {
    min-width: 185px;
  }
  //.ft-form-item {
  //  height: 44px;
  //}
}
.job-table {
  font-size: 16px;
  color: $color-font;
  h1 {
    font-size: 24px;
    margin: 42px 0 20px 0;
    @include media(md) {
      font-size: 19px;
    }
  }
  a {
    text-decoration: none;
    color: $color-font;
    cursor: pointer;
    &:hover {
      color: $color1;
    }
  }
  .table-wrap {
    margin: 0 0 47px 0;
    @include media(md) {
      margin: 0 0 20px 0;
    }
  }
  .__row {
    display: flex;
    padding: 35px 22px 18px 47px;
    &:hover {
      background-color: #f4f4f4;
    }
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;

    @include media(md) {
      flex-wrap: wrap;
      padding: 15px 0 15px 0;
    }
  }
  .__col {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    p {
      width: 100%;
      margin: 0;
      padding: 0 18px;
      @include media(md) {
        padding: 0 10px;
      }
    }
    .__title {
      font-size: 18px;
      @include media(md) {
        font-size: 16px;
      }
    }
    .__date {
      font-size: 12px;
      color: $color-font-lighter;
      margin: 8px 0 0 0;
      @include media(md) {
        font-size: 12px;
        margin: 3px 0 0 0;
      }
    }
    .__count {
      font-size: 16px;
      @include media(md) {
        font-size: 15px;
      }
    }
    .__company {
      font-size: 16px;
      @include media(md) {
        font-size: 15px;
      }
    }
    .__company-branch {
      font-size: 14px;
      color: $color-font-lighter;
      margin: 6px 0 0 0;
      @include media(md) {
        margin: 3px 0 0 0;
        font-size: 12px;
      }
    }
    // Adjustments
    &.col1 {
      width: 40%;
      @include media(md) {
        flex-grow: unset;
        width: calc(100% - 75px);
      }
    }
    &.col2 {
      width: 10%;
      //text-align: right;
      //padding-right: 200px;
      @include media(lg) {
        text-align: right;
        flex-grow: unset;
        //padding-right: 100px;
      }
      @include media(md) {
        //width: 15%;
        width: 75px;
        font-size: 12px;
        padding-right: 0;
        margin-top: 1px;
      }
    }
    &.col3 {
      width: 35%;
      @include media(md) {
        margin-top: 22px;
      }
    }
    &.col4 {
      width: 5%;
      min-width: 95px;
      text-align: center;
      @include media(md) {
        margin-top: 32px;
        text-align: right;
      }
    }
    &.col5 {
      width: 5%;
      text-align: center;
      @include media(md) {
        margin-top: 32px;
        text-align: right;
      }
    }
    &.col4, &.col5 {
      a {
        text-decoration: none;
        color: $color-font;
        &:hover {
          color: $color1;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

// Pagination
// ----------------------------------------
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  @include media(md) {
    font-size: 12px;
  }
  .pg-nav {
    color: $color-font;
    border: 1px solid $color-font;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    margin: 0 20px;
    @include media(md-plus) {
      @include chevron(1px, 12px, 0px);
    }
    @include media(md) {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      @include chevron(1px, 7px, 0px);
    }
  }
  .pg-prev {
    &:before {
      left: 3px;
      transform: rotate(-135deg);
      @include media(md) {
        left: 2px;
      }
    }
  }
  .pg-next {
    &:before {
      left: -3px;
      transform: rotate(45deg);
      @include media(md) {
        left: -2px;
      }
    }
  }
  .pg-select-wrap {
    position: relative;
    select {
      background-color: transparent;
    }
    .chevron-wrap {
      position: absolute;
      top: 6px;
      right: 15px;
      @include media(md) {
        top: 4px;
      }
    }
  }
  .pg-select {
    appearance: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid $color-font;
    height: 45px;
    box-sizing: border-box;
    padding: 12px 40px 10px 20px;
    position: relative;
    border-radius: 0;
    // ie-fix
    &::-ms-expand {
      display: none;
    }
    @include media(md) {
      padding: 3px 30px 1px 10px;
      height: 30px;
    }
  }
  .pg-total {
    margin: 0 5px 0 25px;
    @include media(md) {
      margin: 0 0 0 15px;
    }
  }
}

.force-desc {
  margin-top: -18px;
  font-size: 14px;
  @include media(md) {
    margin-top: -12px;
    font-size: 9px;
  }
}
