$asset-path: "../";

$content-width: 1380px; // include padding below (*2)
$content-padding: 10px;

$color1: #98c84a;
$color2: #df2c2f;
$color3: #333333;
$color-danger: #df2c2f;

$color-font: #333333;
$color-font-lighter: #999999;
$color-font-medium: #666666;
$color-input-border: #cccccc;

$color-bg1: #f7f7f7;

$nav-height: 140px;
$nav-height-min: 71px;
$nav-height-mobile: 55px;

$font-family1: 'kalatexatext', sans-serif;
$font-family2: renh, sans-serif;
$font-family3: 'Kanit', sans-serif;
$font-family-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// Responsive
// Note lg must be as the width + padding
// --------------------------------

$bp-xs-min: 576px;
$bp-sm-min: 768px;
$bp-md-min: 992px;
$bp-lg-min: 1261px; // 1240 + (padding) // 1199px
$bp-xl-min: 1600px;

$bp-xxs: 321px;
$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1280px; // 1199px
$bp-xl: 1599px;
