@font-face {
    font-family: 'renh';
    src: url('Rehn-Italic.woff2') format('woff2'),
        url('Rehn-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'renh';
    src: url('Rehn-Medium.woff2') format('woff2'),
        url('Rehn-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'renh';
    src: url('Rehn-LightIt.woff2') format('woff2'),
        url('Rehn-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'renh';
    src: url('Rehn-Regular.woff2') format('woff2'),
        url('Rehn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'renh';
    src: url('Rehn-MediumIt.woff2') format('woff2'),
        url('Rehn-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

