.act-nav {
  ._inner {
    @include media(md) {
      width: 100vw;
      overflow-x: scroll;
      margin: 0;
    }
  }
  .mobile-pad {
    display: none;
    @include media(md) {
      color: white;
      display: inline-block;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 83px 0 40px 0;
    white-space: nowrap; // important
    @include media(md) {
      justify-content: flex-start;
      margin: 23px 0 20px 0;
    }
    li {
      padding: 0;
      margin: 0 30px;
      &:first-child {
        margin-left: 0;
      }
      //&:last-child {
      //  margin-right: 30px;
      //}
      a {
        font-size: 18px;
        color: $color-font-medium;
        position: relative;
        padding-bottom: 13px;
        @include media(md) {
          font-size: 15px;
          line-height: 47px;
          padding-bottom: 9px;
        }
        &::after, &::before {
          position: absolute;
          bottom: 0;
          //bottom: -13px;
          left: 0;
          width: 0;
          content: '';
          border-bottom: 5px solid $color1;
          transition: width .2s;
          @include media(md) {
            border-width: 3px;
          }
        }
        &::before {
          width: 100%;
          border-color: #ebebeb;
        }
      }
      &:hover {
        a {
          color: black;
        }
        a::after {
          width: 100%;
        }
      }
      &.active a {
        color: $color-font;
        font-weight: bold;
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.page-activity {
  //background: #ffffff url(#{$asset-path}/imgs/refs/act.jpg) no-repeat center -#{$nav-height};
  //min-height: 2000px;
  .heading1 {
    margin-top: 27px;
    @include media(md) {
      margin: 30px 0 20px 0;
    }
  }

  .sec-hero {

  }
}

.act-sec {
  margin: 70px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;
  @include media(md) {
    margin-top: 30px;
  }
  p {
    margin: 16px 0;
  }
  ._padding {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
  }
  ._inner {
    padding: 0 0 25px 0;
    @include media(md) {
      padding: 0 0 15px 0;
    }
  }
  ._content {
    padding: 0 10px;
    @include media(md) {
      padding: 0 5px;
    }
  }
  ._img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  // content
  .__title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 0 0;
    &:hover {
      a {
        color: $color1;
      }
    }
    @include media(md) {
      margin: 10px 0 0 0;
      font-size: 15px;
    }
  }
  .__desc {
    font-size: 18px;
    margin: 35px 0 0 0;
    @include media(md) {
      margin: 20px 0 0 0;
      font-size: 12px;
    }
  }
  .__link {
    margin: 30px 0 0 0;
    @include media(md) {
      margin: 8px 0 0 0;
    }
    a {
      font-size: 18px;
      color: $color-font-lighter;
      @include media(md) {
        font-size: 12px;
      }
      &:hover {
        color: $color1;
        text-decoration: underline;
      }
    }
  }
  .act-item ._inner {
    &:hover {
      background-color: #f9f9f9;
      // title always active
      .__title a {
        color: $color1;
      }
    }
  }

  // List section
  // ----------------------------------------
  &.act-sec-list {
    margin-top: 30px;
    margin-bottom: 60px;
    @include media(md) {
      margin-top: 0;
    }
    .act-item {
      margin: 0 0 40px 0;
      @include media(md) {
        margin: 0 0 0 0;
      }
    }
    .pagination {
      margin: 70px 0 0 0;
    }
  }
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  margin: 120px 0 120px 0;
  @include media(md) {
    margin: 0 0 0 0;
  }
  &:first-of-type {
    //margin-top: 100px;
  }
  ._img {
    box-sizing: border-box;
    width: 50%;
    img {
      width: 100%;
    }
    @include media(md) {
      width: 100%;
      padding: 10px 0;
    }
  }
  ._content {
    box-sizing: border-box;
    width: 50%;
    @include media(md) {
      width: 100%;
      padding: 10px 0;
    }
  }
  h1 {
    font-size: 24px;
    margin: 0 0 0 0;
    line-height: 28px;
    @include media(md) {
      font-size: 15px;
      margin: 0 0 0 0;
      line-height: 19px;
    }
  }
  h6 {
    color: $color-font-lighter;
    font-size: 14px;
    margin: 0 0 0 0;
    line-height: 19px;
    @include media(md) {
      font-size: 11px;
      margin: 0 0 0 0;
      line-height: 15px;
    }
  }
  p {
    font-size: 18px;
    margin: 0 0 0 0;
    line-height: 22px;
    @include media(md) {
      font-size: 12px;
      margin: 0 0 0 0;
      line-height: 15px;
    }
  }
  .__super {
    margin: 0 0 40px 0;
    @include media(md) {
      margin: 0 0 10px 0;
    }
  }
  .__title {
    margin: 0 0 40px 0;
    @include media(md) {
      margin: 0 0 20px 0;
    }
  }
  .__date {
    margin: 0 0 25px 0;
    @include media(md) {
      margin: 0 0 20px 0;
    }
  }
  .__desc {
    margin: 0 0 0 0;
  }

  // Padding
  // ----------------------------------------
  .pr3 {
    padding-right: 90px;
    @include media(md) {
      padding-right: 0;
    }
  }
  .pl2 {
    padding-left: 60px;
    @include media(md) {
      padding-left: 0;
    }
  }
}

.content-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 100px 0;
  @include media(md) {
    margin: 30px 0 100px 0;
  }
  ._img {
    width: 240px;
    height: 135px;
    margin: 0 5px 0 0;
    background-size: cover;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    @include media(md) {
      width: 32%;
      margin: 0 2px 0 0;
      height: 0;
      padding-bottom: 18%;
      &:first-of-type {
        display: none;
      }
    }
  }
  .__count {
    font-size: 40px;
    font-family: $font-family2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    @include media(md) {
      font-size: 30px;
    }
  }
}

.heading-tag {
  font-size: 18px;
  margin: 0 0 0 0;
  line-height: 22px;
  @include media(md) {
    font-size: 12px;
    margin: 0 0 0 0;
    line-height: 22px;
  }
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  ._tag {
    color: $color-font-medium;
    border-right: 1px solid #dadada;
    padding: 0 10px 0 0;
    margin: 0 10px 7px 0;
    font-size: 16px;
    line-height: 12px;
    height: 12px;
    @include media(md) {
      font-size: 12px;
    }
    &:hover {
      a {
        color: $color1;
      }
    }
    &:last-child {
      padding-right: 0;
      border: 0;
    }
  }
}

.act-back {
  width: 100%;
  margin: 100px 0 100px 0;
  font-size: 16px;
  @include media(md) {
    margin: 40px 0 40px 0;
  }
  a {
    padding: 10px 0;
    color: $color1;
    @include media(md) {
      padding: 0 0;
    }
  }
  @include media(md) {
    font-size: 12px;
  }
}

.btn-underscore {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    content: '';
    border-bottom: 2px solid $color1;
    transition: width .2s;
    @include media(md) {
      border-width: 3px;
      bottom: -9px;
    }
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.related-act {
  .__title {
    font-size: 18px;
    @include media(md) {
      font-size: 15px;
    }
  }
  // horizontal scroll
  @include media(md) {
    font-size: 15px;
    &.act-sec {
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-left: -10px;
      .act-item {
        width: 40%;
        flex: 0 0 auto; // important
        display: inline-block;
        ._padding {
          padding: 0 10px;
        }
        &:not(:last-child) ._padding {
          padding-right: 0;
        }
        ._content {
          white-space: normal;
        }
      }
    }
  }
  @include media(sm) {
    &.act-sec {
      .act-item {
        width: 75%;
      }
    }
  }
}
