.page-apply-job {
  //background: #ffffff url(#{$asset-path}/imgs/refs/wws2.jpg) no-repeat center -#{$nav-height};
  background: #ffffff;
  box-sizing: border-box;
  .wws-content-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .wws-form {
    margin: 35px 0 0 0;
    @include media(md) {
      margin: 15px 0 0 0;
    }
  }

  // Info Page
  // ----------------------------------------

  .buttons{
    margin: 30px 0 0 0;
    display: inline-block;
    @include media(md) {
      margin: 5px 0 0 0;
    }
  }

  .buttons-2 {
    display: flex;
    width: 100%;
    margin: 30px 0 0 0;
    @include media(md) {
      flex-wrap: wrap;
    }
    .btn {
      max-width: 200px;
      margin: 0 30px 0 0;
      @include media(md) {
        max-width: unset;
        margin: 0 0 10px 0;
      }
    }
  }

}

.profile-info {
  background: $color-bg1;
  //background: #ffffff url(#{$asset-path}/imgs/refs/profile-mobile.jpg) no-repeat center 0;
  width: 100%;
  max-width: 1130px;
  display: flex;
  justify-content: center;
  color: $color-font;
  flex-wrap: wrap;
  padding: 40px 0 70px 0;
  margin: 0 0 60px 0;
  box-sizing: border-box;
  @include media(md) {
    max-width: 430px;
    padding: 27px 0 33px 0;
    margin: 0 0 10px 0;
  }
  h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 22px 0;
    @include media(md) {
      margin: 22px 0 20px 0;
      font-size: 15px;
    }
  }
  .__left {
    width: 200px;
    img {
      width: 100%;
      height: auto;
    }
    @include media(md) {
      width: 110px;
    }
  }
  .__right {
    width: 100%;
    max-width: 600px;
    margin: 0 70px 0 30px;
    @include media(md) {
      margin: 0;
    }
    .ml-px2 {
      font-size: 18px;
      padding: 0 10px;
      @include media(md) {
        font-size: 13px;
        padding: 0 10px;
      }
      @include media(xs) {
        text-align: left;
      }
    }
    @include media(md) {
      margin-left: 0;
      max-width: none;
    }
    .__row {
      width: 100%;
      padding: 0 0 0 20px;
      display: flex;
      position: relative;

      @include media(md-plus) {
        &.pad-top {
          padding-top: 25px;
        }
      }
      @include media(md) {
        padding: 0;
        flex-wrap: wrap;
        margin-bottom: 8px;
      }
    }
    .__col {
      max-width: 400px; // fix ie-10
      margin: 0 0 1px 0;
      line-height: 30px;
      position: relative;
      @include media(md) {
        width: 100%;
        max-width: none;
        line-height: 16px;
        margin: 0 0 4px 0;
      }
    }
    .__label {
      min-width: 165px;
      padding: 0 20px 0 0;
      color: $color-font-lighter;

      @include media(md) {
        padding: 0;
      }
    }
    .__desc {
      padding: 0;
    }
  }
}

