.page-login, .page-forgot {
  background: #ffffff;
  //background: #ffffff url(#{$asset-path}/imgs/refs/forgot-mobile.jpg) no-repeat center -#{$nav-height-mobile};
  padding: 0 0 150px 0;
  @include media(md) {
    padding: 0 0 10px 0;
  }

  .layout-narrow {
    //opacity: .5;
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 0 0;
    @include media(md) {
      font-size: 24px;
      margin: 20px 0 0 0;
    }
  }

  .or {
    margin: 5px 0 0 0;
    color: $color-font-lighter;
    @include media(md) {
      margin: 15px 0 0 0;
      font-size: 12px;
    }
  }

  .strike {
    position: relative;
    color: $color-font-lighter;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;

    & > span {
      position: relative;
      display: inline-block;
    }
    & > span:before,
    & > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: $color-font-lighter;
    }
    & > span:before {
      right: 100%;
      margin-right: 15px;
    }
    & > span:after {
      left: 100%;
      margin-left: 15px;
    }
  }

  .login-form {
    margin: 25px 0 28px 0;
    display: inline-block;
    width: 100%;
    @include media(md) {
      margin: 25px 0 15px 0;
    }
  }

  .forgot-password {
    font-size: 18px;
    color: $color-font-lighter;
    float: right;
    width: 50%;
    text-align: right;
    @include media(md) {
      font-size: 12px;
    }
  }
  .remember-me {
    width: 50%;
    font-size: 18px;
    @include media(md) {
      font-size: 12px;
    }
  }
  .bottom-message {
    font-size: 18px;
    text-align: center;
    color: $color-font-lighter;
    @include media(md) {
      font-size: 12px;
    }
  }
}

.page-forgot {
  .heading1 {
    font-size: 40px;
    font-weight: 600;
    margin: 40px 0 0 0;
    @include media(md) {
      font-size: 24px;
      line-height: 40px;
      margin: 12px 0 0 0;
    }
  }
  .heading3 {
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0 0 0;
    @include media(md) {
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0 0 0;
    }
  }
  .login-form {
    @include media(md) {
      margin: 0 0 10px 0;
    }
  }
}
.page-thank-you {
  .btn-back-home {
    margin: 50px 0 20px 0;
    @include media(md) {
      margin: 30px 0 20px 0;
    }
  }
}
