.banner-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  @include media(md) {
    height: 375px;
  }
  h1 {
    text-align: center;
    font-family: $font-family2;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-style: italic;
    color: $color-font;
    margin: 0 0 80px 0;
    @include media(md) {
      font-size: 15px;
      line-height: 18px;
      margin: 0 0 60px 0;
    }
  }
  h3 {
    text-align: center;
    font-family: $font-family2;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    color: $color-font-lighter;
    @include media(md) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.page-contact {
  .map {
    display: inline-block;
    width: 33.33%;
    background-color: #ffffff;
    @include media(md) {
      width: 100%;
      max-width: 435px;
      margin: 0 auto;
    }
    &.map-big {
      width: 100%;
      background-color: #f9f9f9;
      margin: 120px 0 100px 0;
      max-height: 528px; // fix unknown space below image
      display: flex;
      @include media(md) {
        flex-wrap: wrap;
        margin: 0 auto 50px auto;
      }
      .__desc {
        padding: 50px;
        background-color: #f9f9f9;
        @include media(md) {
          width: 100%;
        }
      }
      .__img {
        width: 50%;
        height: auto;
        img {
          width: 100%;
        }
        @include media(md) {
          width: 100%;
        }
      }
    }
    .__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    a {
      text-decoration: none;
      color: $color-font;
      &:hover {
        text-decoration: underline;
        color: $color1;
      }
    }
    .__desc {
      padding: 20px 35px 30px 35px;
      @include media(md) {
        padding: 20px 10px !important;
      }
    }
    .__title {
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0 0 0;
      @include media(md) {
        margin: 0 0 0 0;
        font-size: 15px;
      }
    }
    .__subtitle {
      font-size: 18px;
      font-weight: bold;
      margin: 1px 0 0 0;
      @include media(md) {
        margin: 3px 0 0 0;
        font-size: 12px;
      }
    }
    .__address {
      font-size: 18px;
      margin: 20px 0 0 0;
      line-height: 22px;
      @include media(md) {
        margin: 8px 0 0 0;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .__gmap {
      color: $color-font-lighter;
      font-size: 16px;
      margin: 10px 0 30px 0;
      text-decoration: underline;
      display: flex;
      width: 100%;
      @include media(md) {
        margin: 6px 0 25px 0;
        font-size: 12px;
      }
    }
    .__phone, .__email {
      font-size: 18px;
      margin: 8px 0 0 0;
      padding: 0 0 0 40px;
      line-height: 26px;
      display: flex;
      width: 100%;
      @include media(md) {
        margin: 10px 0 0 0;
        font-size: 12px;
        line-height: 16px;
        padding: 0 0 0 30px;
      }
    }
    .__phone {
      background: transparent url(#{$asset-path}/imgs/icon-phone.png) no-repeat left top;
      background-size: 22px auto;
      @include media(md) {
        background-size: 13px auto;
      }
      &:hover {
        background-image: url(#{$asset-path}/imgs/icon-phone-active.png);
      }
    }
    .__email {
      background: transparent url(#{$asset-path}/imgs/icon-mail.png) no-repeat left 4px;
      background-size: 19px auto;
      @include media(md) {
        background-size: 13px auto;
        background-position: 0 2px;
      }
      &:hover {
        background-image: url(#{$asset-path}/imgs/icon-mail-active.png);
      }
    }
    .socials {
      display: flex;
      align-items: center;
      margin: 35px 0 0 0;
      @include media(md) {
        margin: 15px 0 0 0;
      }
      a {
        color: #8f8f8f;
        font-size: 24px;
        padding-right: 25px;
        @include media(md) {
          font-size: 18px;
        }
        &:hover {
          color: $color-font;
        }
      }
      .fa-linkedin {
        font-size: 28px;
        @include media(md) {
          font-size: 22px;
        }
      }
    }
  }

  .heading-places {
    font-size: 24px;
    font-weight: 600;
    margin: 65px 0 40px 0;
    @include media(md) {
      font-size: 15px;
      margin: 35px 0 20px 0;
    }
  }

  .places {
    background-color: #f9f9f9;
    display: flex;
    margin: 0 0 100px 0;
    @include media(md) {
      flex-wrap: wrap;
      margin: 0 0 10px 0;
    }
    .map {
      @include media(md-plus) {
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.contact-form {
  display: flex;
  justify-content: center;
  @include media(md) {
    margin: 30px 0 20px 0;
  }
  .clearfix {
    max-width: 455px;
  }
  .ico-info {
    color: $color-font;
    margin: 0 10px 0 0;
    font-size: 14px;
  }
  .form-info {
    font-size: 14px;
    @include media(md) {
      font-size: 9px;
    }
  }
  .contact-btns {
    margin-top: 20px;
    .btn {
      margin-top: 20px;
      @include media(md) {
        margin-top: 10px;
      }
    }
  }
}
