.page-home {
  // Banner
  background-color: #ffffff;
  .heading1 {
    @include media(md-plus) {
      margin-top: 100px;
    }
  }
  .sec-banner-home {
    background: #ffffff url(#{$asset-path}/imgs/banner-home.jpg) no-repeat center center;
    height: 520px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    @include media(md) {
      height: 375px;
      background-size: auto 100%;
      align-items: flex-end;

    }
    .banner-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      background-color: rgba(255,255,255,.5);
      width: 550px;
      height: 100%;
      box-sizing: border-box;
      padding: 0 25px;
      @include media(md) {
        height: 200px;
        width: 100%;
        margin-top: auto;
        justify-content: left;
      }
      h1 {
        font-size: 70px;
        margin: 20px 0 15px 0;
        @include media(md) {
          font-size: 35px;
          margin: 0 0 15px 0;
        }
      }
      h2 {
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 80px 0;
        @include media(md) {
          font-size: 15px;
          margin: 0 0 25px 0;
        }
      }
      .btn-outline-d {
        width: 200px;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 30px;
        height: 60px;
        font-size: 22px;
        font-weight: 600;
        @include media(md) {
          font-size: 15px;
          margin-top: 0;
          height: 33px;
          width: 124px;
          border-radius: 0;
        }
      }
    }
  }

  .see-all-jobs {
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-see-all-jobs {
      width: 100%;
      max-width: 200px;
      @include media(md) {
        width: 100%;
        max-width: unset;
        height: 40px;
      }
    }
  }

  .home-ref-bg {
    //background: #ffffff url(#{$asset-path}/imgs/refs/home-mobile-2.jpg) no-repeat center 0;
  }

  // the big one
  .home-content {
    background-color: #f9f9f9;
    margin: 58px 0 0 0;
    padding: 150px 0;
    @include media(md) {
      margin: 20px 0 0 0;
      padding: 35px 0 40px 0;
    }
  }

  // Grow together
  .grow-together {
    display: flex;
    justify-content: left;
    align-items: center;
    img {
      width: 106px;
      height: auto;
      @include media(md) {
        width: 53px;
      }
    }
    .gt-text {
      text-align: center;
      margin-left: 20px;
    }
    h1 {
      font-size: 70px;
      margin: 4px 0 0 0;
      color: $color-font;
      line-height: 70px;
      @include media(md) {
        line-height: 35px;
        font-size: 35px;
      }
    }
    h3 {
      font-size: 34px;
      line-height: 34px;
      margin: -2px 0 0 0;
      color: $color-font-lighter;
      @include media(md) {
        font-size: 17px;
        line-height: 17px;
        color: $color-font;
      }
    }
  }

  // Home Banners
  .banner {
    width: 66.66%;
    height: 506px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    @include media(md) {
      width: 100% !important;
      height: 400px !important;
    }
    @include media(sm) {
      height: 300px !important;
    }
    @include media(xs) {
      height: 200px !important;
    }
    @include media(xxs) {
      height: 150px !important;
    }
    //opacity: .2;
    .banner-ov {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      transition: all .3s;
      &:hover {
        background-color: rgba(0,0,0,0);
      }
      h1 {
        margin: 0 0 0 0;
        font-size: 60px;
        @include media(md) {
          font-size: 30px;
        }
      }
      h2 {
        margin: 0 0 0 0;
        font-size: 36px;
        @include media(md) {
          font-size: 20px;
        }
      }
      h3 {
        margin: 0 0 0 0;
        font-size: 24px;
        @include media(md) {
          font-size: 15px;
        }
      }
    }
  }

  .home-banners {
    margin: 40px 0 10px 0;
    display: flex;
    @include media(md) {
      flex-wrap: wrap;
      margin: 40px 0 5px 0;
    }
    .right-banners {
      display: flex;
      flex-direction: column;
      height: 506px;
      .banner {
        width: 100%;
        height: 50%;
      }
      width: 33.33%;
      margin: 0 0 0 10px;
      @include media(md) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: 5px 0 0 0;
        .banner {
          width: 50% !important;
          height: 100%;
        }
      }
    }
    // adjustments
    .banner-1 {
      background-image: url(#{$asset-path}/imgs/home/home-banner-video.jpg);
      img {
        width: 160px;
        @include media(md) {
          width: 100px;
        }
        @include media(xs) {
          width: 60px;
        }
      }
    }
    .banner-2 {
      background-image: url(#{$asset-path}/imgs/home/home-banner-benefits.jpg);
    }
    .banner-3 {
      background-image: url(#{$asset-path}/imgs/home/home-banner-fac.jpg);
    }
  }

  .home-activities {
    .banner {
      width: 50%;
      height: 372px;
      .banner-ov {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        .act-text {
          display: flex;
          flex-direction: column;
          height: 150px;
          padding: 0 0 35px 58px;
          @include media(md) {
            height: 75px;
            padding: 0 0 17px 17px;
            .btn-activity {
              width: 105px;
              height: 30px;
            }
          }
        }
      }
    }
    display: flex;
    flex-wrap: wrap;
    //opacity: .3;
    .act-1 {
      background-image: url(#{$asset-path}/imgs/home/home-activity-1.jpg);
    }
    .act-2 {
      background-image: url(#{$asset-path}/imgs/home/home-activity-2.jpg);
    }
    .act-3 {
      background-image: url(#{$asset-path}/imgs/home/home-activity-3.jpg);
    }
    .act-4 {
      background-image: url(#{$asset-path}/imgs/home/home-activity-4.jpg);
      @include media(md) {
        .act-text {
          height: 95px !important;
        }
      }
    }
    .btn-activity {
      margin-top: auto;
      width: 160px
    }
  }
}
