.page-job-desc {
  //background: #ffffff url(#{$asset-path}/imgs/refs/jd.jpg) no-repeat center -#{$nav-height};
  .heading1 {
    margin: 33px 0 0 0;
  }
  .heading3 {
    font-size: 20px;
    margin: 36px 0 0 0;
    @include media(md) {
      margin: 20px 0 0 0;
      font-size: 12px;
    }
  }
  .head-branch {
    text-align: center;
    font-size: 18px;
    margin: 3px 0 0 0;
    font-weight: normal;
    @include media(md) {
      margin: 3px 0 0 0;
      font-size: 11px;
    }
  }
  .head-date {
    text-align: center;
    font-size: 16px;
    margin: 16px 0 0 0;
    font-weight: normal;
    @include media(md) {
      margin: 14px 0 0 0;
      font-size: 11px;
    }
  }
  .head-btns {
    margin: 18px 0 0 0;
    display: flex;
    justify-content: center;
    .btn-outline {
      width: 100%;
      margin-left: 30px;
      @include media(md) {
        margin-left: 10px;
      }
    }
    .btn {
      max-width: 200px;
    }
    &.at-bottom {
      margin: 50px 0 20px 0;
      @include media(md) {
        margin: 10px 0 10px 0;
      }
    }
  }
}

.jd-inner {
  display: flex;
  justify-content: center;
}

.jd-content {
  h4 {
    font-size: 24px;
    margin: 80px 0 78px 0;
    @include media(md) {
      margin: 40px 0 0 0;
      font-size: 17px;
    }
  }
  h5 {
    font-size: 18px;
    margin: 50px 0 30px 0;
    font-weight: bold;
    @include media(md) {
      margin: 20px 0 0 0;
      font-size: 15px;
    }
  }
  p {
    font-size: 18px;
    line-height: 22px;
    @include media(md) {
      margin: 15px 0 0 0;
      font-size: 15px;
      line-height: 17px;
    }
  }
  .__section {
    ul {
      padding: 0 0 0 103px;
      @include media(md) {
        padding: 0 0 0 20px;
      }
      li {
        padding: 0 0 0 19px;
        font-size: 18px;
        line-height: 22px;
        @include media(md) {
          padding: 0 0 0 2px;
          font-size: 15px;
          line-height: 17px;
        }
      }
    }
  }
  max-width: 1132px;
}

.jd-2col {
  .__row {
    display: flex;
    margin: 50px 0 50px 0;
    @include media(md) {
      margin: 20px 0 20px 0;
    }
    @include media(xs) {
      margin: 20px 0 20px 0;
      flex-wrap: wrap;
    }
  }
  .__col {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    @include media(md) {
      font-size: 15px;
      line-height: 17px;
    }
  }
  .col-label {
    max-width: 255px;
    padding-right: 20px;
    font-weight: bold;
    @include media(md) {
      margin: 0 0 5px 0;
      font-size: 15px;
      line-height: 17px;
    }
  }
  .col-location {
    line-height: 30px;
    @include media(md) {
      line-height: 17px;
    }
  }
  .gmap-link {
    color: $color-font-lighter;
    &:hover {
      color: $color1;
    }
    //text-decoration: none;
  }
  .map {
    margin-top: 10px;
    width: 272px;
    @include media(md) {
      max-width: 400px;
      width: 100%;
    }
  }
  .benefits {
    margin: 0;
    padding: 0 0 0 16px;
    li {
      font-size: 18px;
      padding: 0 0 0 20px;
      line-height: 24px;
      @include media(md) {
        padding: 0 0 0 2px;
        font-size: 15px;
        line-height: 17px;
      }
    }
  }
}
