.page-terms {
  h1 {
    font-size: 30px;
    margin: 0 0 40px 0;
    font-weight: 600;
    @include media(md) {
      font-size: 22px;
      margin: 0 0 30px 0;
    }
  }
  p {
    font-size: 18px;
    margin: 10px 0 10px 0;
    @include media(md) {
      font-size: 12px;
      margin: 10px 0 10px 0;
    }
  }
  .scrollable-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    .btn {
      max-width: 200px;
      margin: 0 15px;
      @include media(md) {
        margin: 0 10px 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.scrollable {
  max-width: 1235px;
  max-height: 700px;
  overflow-y: scroll;
  ._inner {
    padding: 40px 100px;
    @include media(md) {
      padding: 0;
    }
  }
  margin: 40px 0 100px 0;
  @include media(md) {
    overflow-y: visible;
    max-height: unset;
    margin: 40px 0 40px 0;
  }
}
