.reg-steps {
  position: absolute;
  top: 15px;
  left: 0;

  // Desktop
  .full-steps {
    .__step {
      display: flex;
      margin: 0 0 30px 0;
      &:last-child {
        margin: 0;
      }
    }
    .__number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 24px;
      font-weight: 600;
      box-sizing: border-box;
      border: 2px solid $color1;
      background-color: white;
      color: $color1;
    }
    .__label {
      color: $color-font-lighter;
      font-size: 20px;
      font-weight: 600;
      padding: 0 0 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active {
      .__number {
        color: #ffffff;
        background-color: $color1;
      }
      .__label {
        color: $color1;
      }
    }
  }
  &::before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: $color1;
    left: 19px;
    top: 0;
    z-index: -1;
  }

  // Mobile
  .mini-step {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    .__number {
      font-size: 10px;
      color: $color-font-lighter;
      display: flex;
      justify-content: center;
      align-items: center;
      .big {
        font-size: 17px;
        color: $color-font;
        font-weight: bold;
        margin-right: 5px;
      }
      .total {
        margin-left: 5px;
      }
    }
    .__label {
      font-size: 15px;
      font-weight: 600;
      color: $color-font;
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
  }
  @include media(md) {
    width: 100%;
    .full-steps {
      display: none;
    }
    .mini-step {
      display: flex;
    }
  }
}

// legacy
.form-profile-d {
  padding: 40px 0 55px 135px;
  background: #f8f8f8;
  width: 100%;
  max-width: 812px;
  box-sizing: border-box;
  .form-profile-inner {
    width: 450px
  }
  @include media(md) {
    padding: 80px 0 0 0;
    .form-profile-inner {
      width: 100%;
    }
  }
}

// the new one - better flex box
.form-profile {
  padding: 40px 0 55px 135px;
  background: #f8f8f8;
  width: 100%;
  max-width: 812px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  .ml-col {
    padding: 0 10px;
  }
  .form-profile-inner {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
  }
  .__step-title {
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
    margin: 45px 0 10px 0;
    &:first-child {
      margin-top: 0;
    }
    @include media(md) {
      margin: 30px 0 10px 0;
      font-size: 12px;
    }
    // margins
    &.__margin1 {
      @include media(md-plus) {
        margin-bottom: 20px;
      }
    }
  }
  @include media(md) {
    padding: 80px 0 0 0;
    .form-profile-inner {
      width: 100%;
    }
  }
  .form-item-radio {
    line-height: 20px;
    @include media(md) {
      line-height: 18px;
      font-size: 12px;
    }
  }
  // step 6
  // ----------------------------------------
  .__question-wrap {
    padding: 5px 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    @include media(md) {
      padding: 5px 5px;
    }
    .__question {
      width: 100%;
      font-size: 16px;
      padding: 0 10px;
      margin: 10px 0 20px 0;
      font-weight: normal;
      @include media(md) {
        margin: 0 0 15px 0;
        font-size: 12px;
      }
    }
    .form-item-radio {
      margin-left: 10px;
    }
    & + .ml-col {
      margin: 0 0 0 0;
      @include media(md) {
        margin: -10px 0 0 0;
      }
    }
  }
  hr {
    border: none;
    border-top: 1px solid #ebebeb;
    width: 100%;
    margin: -2px 10px 28px 10px;
    display: inline;
    @include media(md) {
      margin: -2px 10px 17px 10px;
    }
  }
  .__accept {
    margin: 30px 0 30px 0;
    font-size: 16px;
    max-width: 580px;
    @include media(md) {
      margin: 10px 0 20px 0;
      font-size: 12px;
    }
  }
}

.steps-and-form {
  position: relative;
  padding: 0 0 0 290px;
  width: 100%;
  max-width: 1105px;
  box-sizing: border-box;
  justify-content: center;
  min-height: 550px; // for the steps indicator (on the left)
  @include media(md) {
    padding: 0;
    max-width: 450px;
  }
}

.profile-reg-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 80px 40px 0 0;
  box-sizing: border-box;
  &.btns-centered {
    justify-content: center;
    max-width: 500px;
    padding-right: 0;
    @include media(md-plus) {
      padding-left: 40px;
    }
  }
  @include media(md) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 0;
  }
  .btn-profile-reg {
    max-width: 150px;
    font-weight: bold;
    margin: 0 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &.next {
      &::after {
        content: '';
        background-image: url(#{$asset-path}/imgs/arrow-right.png);
        background-repeat: no-repeat;
        width: 26px;
        height: 15px;
        background-size: 100% auto;
        margin: 0 0 0 30px;
        @include media(md) {
          width: 20px;
          height: 12px;
          margin: 0 0 0 15px;
        }
      }
    }
    &.prev {
      &::before {
        content: '';
        background-image: url(#{$asset-path}/imgs/arrow-left.png);
        background-repeat: no-repeat;
        width: 26px;
        height: 15px;
        background-size: 100% auto;
        margin: 0 30px 0 0;
        @include media(md) {
          width: 20px;
          height: 12px;
          margin: 0 15px 0 0;
        }
      }
    }
    @include media(md) {
      max-width: 500px;
      width: 100%;
      margin: 5px 0;
    }
  }
}


