.page-profile {

  // Nav
  // ----------------------------------------

  .sec-nav {
    width: 250px;
    min-width: 250px; // fix
    margin: 0 65px 0 0;
    @include media(md) {
      display: none;
    }
  }
  .avatar-wrap {
    width: 100%;
    h1 {
      font-size: 24px;
      margin: 8px 0 0 0;
    }
    h3 {
      font-weight: 600;
      font-size: 16px;
      margin: -2px 0 0 0;
    }
  }
  .nav-wrap {
    margin: 25px 0 0 0;
    .nav-item {
      text-decoration: none;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 61px;
      width: 100%;
      color: $color-font-lighter;
      border-bottom: 1px solid #ebebeb;
      border-left: 8px solid transparent;
      font-size: 20px;
      padding: 0 0 0 25px;
      font-weight: bold;
      &:hover, &.active {
        color: $color1;
        border-left-color: $color1;
      }

    }
  }

  // Content
  // ----------------------------------------
  .sec-content {
    width: 100%;
    @include media(md) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .heading1 {
      margin: 10px 0 30px 0;
      @include media(md) {
        display: none;
      }
    }
  }

  // Table Job List
  // ----------------------------------------

  .card-profile {
    background: #f7f7f7;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0;
    margin: 0 0 40px 0;
    @include media(md) {
      margin: 0 0 20px 0;
      padding: 0 0;
    }
    .cp-inner {
      padding: 0 32px;
      @include media(md) {
        padding: 0 0;
      }
    }
    .cp-btn {
      max-width: 200px;
      margin: 0 auto 0 auto;
      @include media(md) {
        max-width: unset;
      }
    }
    h1 {
      font-size: 24px;
      margin: 4px 0 20px 0;
      @include media(md) {
        font-size: 19px;
        padding: 0 10px 0 10px;
        margin: 15px 0 20px 0;
      }
    }
  }

  // Table (job-table extension)
  // ----------------------------------------
  .pp-job-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    &.history-page {
      margin: 0 0 30px 0;
      .pagination {
        margin: 50px 0 0 0;
      }
    }
    @include media(md) {
      margin: 0 0 14px 0;
    }
    .__row {
      width: 100%;
      border-bottom: 1px solid #ebebeb;
      padding: 15px 0;
    }
    p {
      margin: 0;
    }
    // responsive cols
    .col-title {
      width: 50%;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      @include media(md) {
        width: 100%;
        font-size: 13px;
      }
    }
    .col-company {
      width: 30%;
      font-size: 16px;
      @include media(md) {
        width: 100%;
        font-size: 11px;
      }
    }
    // Job list (all)
    .col-amount {
      width: 10%;
      font-size: 16px;
      @include media(md) {
        width: 100%;
        font-size: 11px;
      }
    }
    .col-action {
      width: 7%;
      text-align: right;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $color-font;
      }
      &:hover {
        a {
          text-decoration: underline;
          color: $color1;
        }
      }
      @include media(md) {
        padding-top: 5px;
        width: 100%;
      }
      @include media(md-plus) {
        min-width: 55px;
      }
    }
    @include media(md) {
      .col-company, .col-action {
        padding-top: 15px;
      }
    }
    .col-print {
      width: 20%;
      font-size: 16px;
      display: block;
      .btn-underline {
        margin: 0;
        float: right;
      }
      @include media(lg) {
        display: none;
      }
    }
    // --- Adjustment (Recommended table only)
    &.recommended {
      @include media(md-plus) {
        .col-title {
          width: 40%;
        }
        .col-apply {
          min-width: 95px;
        }
      }
      @include media(md) {
        .__col {
          padding-left: 0;
          padding-right: 0;
          p {
            padding: 0 10px;
          }
        }
        .col-title {
          width: calc(100% - 75px);
          .__date {
            margin: 3px 0 0 0;
          }
        }
        .col-amount {
          text-align: right;
          width: 75px;
          font-weight: bold;
        }
        .col-company {
          width: calc(100% - 117px);
          .__company-branch {
            margin: 3px 0 0 0;
          }
        }
        .col-action {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          //width: 20%;
          font-weight: bold;
          width: 40px;
        }
        .col-apply {
          width: 77px;
          //min-width: 65px;
        }
      }
    }
  }

  // Adjust profile-info
  // ----------------------------------------
  .profile-info {
    padding: 0;
  }

}

.layout-profile-page {
  display: flex;
}

.profile-settings {
  margin: 30px 0 0 0;
  @include media(md) {
    margin: 20px 0 30px 0;
  }
  .__row {
    display: flex;
    margin: 0 0 15px 15px;
    @include media(md) {
      flex-wrap: wrap;
      margin: 0 0 12px 10px;
    }
  }
  .__col {
    font-size: 18px;
    margin: 0 0 0 0;
    @include media(md) {
      font-size: 12px;
      width: 100%;
      margin: 7px 0 0 0;
      a {
        font-size: 12px;
      }
    }
    &:first-child {
      margin-right: 10px;
      font-weight: bold;
      @include media(md) {
        margin-right: 0;
      }
    }
    &:last-child {
    }
  }
  .ml-link {
    font-size: 16px;
    color: $color-font-lighter;
    margin: 0 0 0 10px;
    font-weight: bold;
  }
}

.profile-password {
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  @include media(xs) {
    margin: 30px 0 0 0;
  }
  .ml-form {
    max-width: 452px;
  }
  .buttons {
    margin: 10px 0 0 0;
    display: flex;
    .btn {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      @include media(md) {
        margin-top: 10px;
      }
      @include media(xs) {
        margin: 10px 0 0 0;
      }
    }
    @include media(xs) {
      flex-wrap: wrap;
      padding: 0;
    }
  }
}

.profile-summary {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 10px 10px;
  @include media(md) {
  }
  .__img {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 67px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      @include media(md) {
        width: 100px;
        height: 100px;
      }
    }
    @include media(md) {
      margin: 0 0 30px 0;
    }

  }
  p {
    font-size: 16px;
    line-height: 20px;
    @include media(md) {
      font-size: 11px;
      line-height: 14px;
    }
  }
  h1 {
    font-size: 18px;
    margin: 0 0 0 0;
    @include media(md) {
      font-size: 13px;
      line-height: 16px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 0;
    @include media(md) {
      font-size: 13px;
      line-height: 16px;
    }
  }
  h4 {
    font-size: 16px;
    margin: 0 0 0 0;
    @include media(md) {
      font-size: 11px;
      line-height: 16px;
    }
  }
  ol {
    font-size: 16px;
    line-height: 20px;
    @include media(md) {
      font-size: 11px;
      line-height: 14px;
      padding: 0 0 0 10px;
    }
    li {
      margin-bottom: 20px;
      @include media(md) {
        margin-bottom: 15px;
      }
    }
  }
}
