.page-wws {
  background-color: #ffffff;
  .job-categories {
    h1 {
      font-size: 24px;
      margin: 140px 0 40px 0;
      @include media(md) {
        font-size: 19px;
        margin: 70px 0 20px 0;
      }
    }
  }
  .jc-wrap {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 0 0 100px 0;
    @include media(md) {
      margin: 0 0 0 0;
    }
    .__col {
      width: 33.33%;
      display: flex;
      padding: 20px 0;
      font-weight: bold;
      cursor: pointer;
      color: $color-font;
      text-decoration: none;
      &:hover {
        color: $color1;
      }
      .__title {
        padding: 0 15px 0 70px;
        @include media(md) {
          padding: 0 15px 0 10px;
        }
      }
      .__count {
        margin-left: auto;
        padding: 0 70px 0 0;
        @include media(md) {
          padding: 0 15px 0 10px;
        }
      }

      @include media(md) {
        width: 100%;
        padding: 8px 0;
        font-size: 12px;
      }
    }
    @include media(md-plus) {
      &.desktop {
        display: flex;
      }
    }
    @include media(md) {
      &.mobile {
        display: flex;
      }
    }
  }
}

