@font-face {
    font-family: 'kalatexatext';
    src: url('KaLaTeXaText-Regular.woff2') format('woff2'),
        url('KaLaTeXaText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalatexatext';
    src: url('KaLaTeXaText-DemiBold.woff2') format('woff2'),
        url('KaLaTeXaText-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'kalatexatext';
    src: url('KaLaTeXaText-Bold.woff2') format('woff2'),
        url('KaLaTeXaText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

